# VI-NOTES ENVIRONMENT VARIABLES

# ==================
# Server Configuration
# ==================
PORT=3000
NODE_ENV=development
JWT_SECRET=vi-notes-secret
JWT_EXPIRATION_SECONDS=14400
SEED_ADMIN_EMAIL=admin@vi-notes.local
SEED_ADMIN_PASSWORD=AdminPass!2026
SEED_USER_EMAIL=writer@vi-notes.local
SEED_USER_PASSWORD=WriterPass!2026

# ==================
# MongoDB Connection
# ==================
MONGODB_URI=mongodb://localhost:27017/vi-notes

# ==================
# Frontend Configuration
# ==================
REACT_APP_API_URL=http://localhost:3000/api

# ==================
# Electron Configuration
# ==================
VITE_DEV_SERVER_URL=http://localhost:5173

