# VI-NOTES ENVIRONMENT VARIABLES

# ==================
# Server Configuration
# ==================
PORT=3000
NODE_ENV=development

# ==================
# MongoDB Connection
# ==================
MONGODB_URI=mongodb://localhost:27017/vi-notes

# ==================
# Frontend Configuration
# ==================
REACT_APP_API_URL=http://localhost:3000/api

# ==================
# Electron Configuration
# ==================
VITE_DEV_SERVER_URL=http://localhost:5173


# to start mongoDB server, run the following command in your terminal:
# mongod --dbpath /path/to/your/mongodb/data/directory
# to start the server, run the following command in your terminal:
# npm run dev -w server
# to start the frontend, run the following command in your terminal:
# npm run dev -w client

